/* Element selector */
body {
    font-family: Arial, bold;
    background-color: #f4f4f484;
    margin: 0;
    padding: 20px;
}

/* Element selector */
h1 {
    color: #2563eb;
    text-align: center;
}

/* Class selector */
.expenses {
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* ID selector */
#add-expense {
    background-color: #fef9e0;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #7dd3fc;
    border-radius: 20px;
}

/* Element selector */
input {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/* Element selector */
h2 {
    color: #333;
    header p {
    font-weight: bold;
    text-align: center;
}

}
